body{
    height: 2000px;
}
input{
    margin-top: 5px;
}

.redInput{
    border-radius: 7px;
    border: 2px solid red;
    color: red;
    background-color: rgb(239, 173, 173);
}

.spanRed{
    color: red;
}